body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1D1F22;;
}

a,     
a:visited,
a:hover,
a:active { 
  color:#4a4a4a;
  text-decoration: none;
}

p {
  margin: 0 0 0 0;
}

ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

footer {
  margin: 300px 0 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto 0 auto;
  padding: 0 100px 0 100px;
}

.app-container header {
  box-sizing: border-box;
  position: relative;
  height: 80px;
  padding: 28px 0 0 0;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
}

.app-container header .main-nav nav {
  display: inline-block;
}

.app-container header .main-nav .logo {
  position: absolute;
  left: 50%;
  top: 29px;
}

.app-container header .main-nav nav .nav-item {
  display: inline-block;
}

.app-container header .main-nav nav .nav-item a {
  display: inline-block;
  line-height: 19.2px;
  padding: 0 16px 30px 16px;
  color: #1D1F22;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.app-container header .main-nav nav .nav-item.active a {
  color: #5ECE7B;
  font-weight: 600;
  border-bottom: 2px solid #5ECE7B;
}

.minicart-container {
  position: relative;
  display: inline-block;
  float: right;
  margin: 0 0 0 0;
}

.minicart-container .minicart-trigger {
  position: relative;
  cursor: pointer;
}

.minicart-container .cart-icon {
  background-image: url(./assets/cart-icon.png);
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 18px;
  margin: 6px 0 0 0;
}

.minicart-container .cart-items-qty {
  position: absolute;
  top: -11px;
  right: -13px;
  background: #1D1F22;
  display: none;
  height: 20px;
  text-align: center;
  width: 20px;
  color: #ffffff;
  border-radius: 60px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.minicart-container .cart-items-qty.visible {
  display: block;
}

.minicart-container .dropdown-mask {
  background: rgba(57, 55, 72, 0.22);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  top: 100px;
  left: 0;
  position: fixed;
  display: none;
}

.minicart-container .dropdown-container {
  overflow-y: scroll;
  max-height: 677px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  width: 325px;
  z-index: 10;
  padding: 32px 16px 20px 16px;
  box-sizing: border-box;
}

.minicart-container.open .dropdown-container {
  display: block;
}
.minicart-container.open .dropdown-mask {
  display: block;
}

.minicart-container .title {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 32px 0;
  line-height: 29px;
  color: #1D1F22;
}

.minicart-container .title span {
  font-weight: 500;
}

.minicart-container .product-attributes .attribute .option label.swatch-label {
  padding: 1px;
  box-sizing: border-box;
  margin-right: -3px;
}

.cart-items-list {
  margin: 0 0 0 0;
}

.cart-items-list .cart-list-item {
  display: flex;
  margin: 0 0 40px 0;
  justify-content: space-between;
}

.cart-list-item .details {
  width: 136px;
}

.cart-list-item .details .brand {
  font-size: 20px;
  color: #1D1F22;;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.cart-list-item .details .name {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #1D1F22;;
  margin: 0 0 4px 0;
}

.cart-list-item .details .price {
  font-weight: 500;
  font-size: 16px;
  color: #1D1F22;
  line-height: 26px;
  margin: 0 0 8px 0;
}

.cart-list-item .product-attributes {
  margin: 0 0 0 0;
}

.cart-list-item .product-attributes .attribute {
  margin: 0 0 0 0;
}

.cart-list-item .product-attributes .attribute:last-child {
  margin: 0 0 0 0;
}

.cart-list-item .product-attributes .attribute .title {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1D1F22;
  margin: 0 0 8px 0;
}

.cart-list-item .product-attributes .attribute .option {
  margin: 0 8px 8px 0;
}

.cart-list-item .product-attributes .attribute .option:last-child {
  margin: 0 0 8px 0;
}

.cart-list-item .product-attributes .attribute .option label.text-label {
  font-weight: 400;
  font-size: 14px;
  color: #1D1F22;
  line-height: 22px;
  padding: 3px 3px 3px 3px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #1D1F22;
}

.cart-list-item .product-attributes .attribute .option label.text-label.selected {
  color: #FFFFFF;
}

.cart-list-item .product-attributes .attribute .option .color-swatch {
  width: 16px;
  height: 16px;
}

.minicart-container .image-container {
  width: 121px;
}

.minicart-container .product-image {
  width: 121px;
  height: calc(100% - 8px);
  object-fit: contain;
}

.minicart-container .minicart-actions {
  margin: 30px 0 0 0;
}

.minicart-container .minicart-actions .action {
  display: inline-block;
  cursor: pointer;
}

.minicart-container .minicart-actions .action .btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 0;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 43px;
  background: #FFFFFF;
  border: 1px solid #1D1F22;
  text-transform: uppercase;
}

.minicart-container .minicart-actions .action.checkout .btn {
  background-color: #66d63d;
  margin: 0 0 0 12px;
  color: #ffffff;
  border: none;
}

.minicart-container .cart-items-list {
  border: none;
}


.plp .category-name {
  margin: 80px 0 103px 0;
}

.plp .category-name h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 42px;
  line-height: 67.2px;
  margin: 0 0 0 0;
}

.plp .product-grid-container .product-grid {
  display: grid;
  column-gap: 40px;
  row-gap: 103px;
  grid-template-columns: repeat(3, 1fr);
}

.plp .product-grid-container .product-grid .product-grid-item {
  padding: 16px 16px 16px 16px;
  position: relative;
}

.plp .product-grid-container .product-grid .product-grid-item .out-of-stock-mask  {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #8D8F9A;
}
.plp .product-grid-container .product-grid .product-grid-item .out-of-stock-mask.visible  {
  display: flex;
}

.plp .product-grid-container .product-grid .product-grid-item .image-container {
  margin: 0 0 24px 0;
}

.plp .product-grid-container .product-grid .product-grid-item .image-container img {
  width: 354px;
  height: 330px;
  max-height: 363px;
  object-fit: contain;
}

.plp .product-grid-container .product-grid .product-grid-item:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.plp .product-grid-item .product-name {
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
}

.plp .product-grid-item .price {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}

.plp .product-grid-item .action .to-cart {
  width: 52px;
  height: 52px;
  background: #5ECE7B;
  border-radius: 100px;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 320px;
  right: 31px;
  cursor: pointer;
}

.plp .product-grid-item:hover .action .to-cart {
  display: flex;
}

.plp .product-grid-item .action .to-cart .icon {
  background-image: url(./assets/add-to-cart.png);
  width: 24px;
  height: 21px;
  display: block;
}

.pdp {
  display: flex;
  padding: 82px 0 0 0;
}

.pdp .image-gallery {
  width: 729px;
}
.pdp .image-gallery-thumbnail {
  width: 79px;
}
.pdp .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails {
  width: 79px;
}
.pdp .product-details {
  padding: 0 0 0 100px;
}
.pdp .brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin: 0 0 16px 0;
}
.pdp .name {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin: 0 0 43px 0;
}
.pdp .attribute .title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 8px 0;
}
.pdp .product-attributes .attribute {
  margin: 0 0 16px 0;
}
.pdp .product-attributes .attribute .option {
  margin: 0 8px 8px 0;
}
.pdp .product-attributes .attribute .option label.text-label {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 27px 14px 27px;
  border: 1px solid #1D1F22;
}
.pdp .product-attributes .attribute .option label.swatch-label {
  margin: 0 -4px 0 0;
}
.pdp .product-attributes .attribute .option label .color-swatch {
  width: 32px;
  height: 32px;
}
.pdp .price .price-label {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.pdp .price .value,
.pdp .price .symbol {
  font-weight: 700;
  font-size: 24px;
  line-height: 46px;
  color: #1D1F22;
}

.pdp .product-details .product-actions {
  margin: 20px 0 40px 0;
}

.pdp .product-details .product-actions .action.to-cart .btn {
  background: #5ECE7B;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 292px;
  height: 52px;
  border: none;
  cursor: pointer;
}

.pdp .product-details .product-actions .action.to-cart .btn:disabled {
  background: #8e8e8e;
}

.product-attributes {
  margin: 20px 0 20px 0;
}

.product-attributes .attribute .options-list {
  display: flex;
  flex-wrap: wrap;
}

.product-attributes .attribute .option {
  margin-right: 15px;
  display: flex;
}
.product-attributes .attribute .options-list .option input {
  visibility:hidden;
  width: 0;
  margin: 0 0 0 0;
}
.product-attributes .attribute .options-list .option label {
  cursor: pointer;
  margin: 0 0 0 0;
}
.product-attributes .attribute .option label.text-label {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
}
.product-attributes .attribute .option label.swatch-label {
  border: 1px solid transparent;
  padding: 2px;
}
.product-attributes .attribute .option label .color-swatch {
  width: 30px;
  height: 30px;
  display: block;
}
.product-attributes .attribute .option .text-label.selected, 
.product-attributes .attribute .option input:checked + .text-label {
  background-color: #000000;
  color: #ffffff;
}
.product-attributes .attribute .option .swatch-label.selected,
.product-attributes .attribute .option input:checked + .swatch-label {
  border: 1px solid #5ECE7B;
}

.dropdown { 
  position: relative;
  display: inline-flex;
  float: right;
  margin: 0 0 0 0;
  padding: 0 0 0 15px;
}

.dropdown .trigger {
  cursor: pointer;
  position: relative;
}

.dropdown .trigger:after {
  content: "";
  position: absolute;
  display: block;
  right: 0px;
  transform: translateY(-50%);
  top: 50%;
  padding: 0 0 0 0;
  width: 6px;
  height: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./assets/arrow-down.png);
}

.dropdown.open .trigger:after {
  background-image: url(./assets/arrow-up.png);
}

.dropdown .dropdown-container {
  display: none;
  position: absolute;
  left: -5px;
  top: 100%;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.dropdown.open .dropdown-container {
  display: block;
  padding: 12px 0 12px 0;
}

.dropdown.open .dropdown-container ul li {
  cursor: pointer;
}

.currency-switcher {
  margin: 0 22px 0 0;
}

.currency-switcher .trigger {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 10px 0 0;
}

.currency-switcher .trigger:after {
  right: 0;
}

.currency-switcher .trigger .current-currency {
  font-weight: 500;
  font-size: 18px;
  color: #1D1F22;
  line-height: 29px;
}

.currency-switcher .currencies-list {
  list-style: none;
}

.currency-switcher .currencies-list .currency {
  padding: 8px 40px 8px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}

.currency-switcher .currencies-list .currency .symbol {
  padding: 0 3px 0 0;
}

.currency-switcher .currencies-list .currency:hover {
  background-color: #EEEEEE;
}

.minicart-container .totals {
  margin: 0 0 32px 0;
  border: none;
}

.totals .total {
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #1D1F22;
}

.qty-selector {
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 8px);
}

.qty-selector .btn {
  background: #ffffff;
  width: 24px;
  height: 24px;
  text-align: center;
  color: transparent;
  border: none;
  cursor: pointer;
}

.qty-selector .btn.qty-increase-action {
  background-image: url(./assets/plus-square.png);
}

.qty-selector .btn.qty-down-action {
  background-image: url(./assets/minus-square.png);
}

.qty-selector .qty-in-cart {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #1D1F22;
}

.cart .page-title {
  text-transform: uppercase;
  margin: 80px 0 55px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1D1F22;
}

.cart .cart-items-list {
  border-bottom: 1px solid #E5E5E5;
}

.cart .cart-list-item {
  margin: 0 0 24px 0;
  border-top: 1px solid #d4d4d4;
  padding: 24px 0 0 0;
}

.cart .cart-list-item .details {
  width: calc(100% - 240px);
}

.cart .cart-list-item .details .brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin: 0 0 16px 0;
}

.cart .cart-list-item .details .name {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin: 0 0 20px 0;
}

.cart .price .price-label {
  display: none;
}

.cart .price .value,
.cart .price .symbol {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1D1F22;
  margin: 0 0 20px 0;
}

.cart .cart-list-item .image-container {
  width: 200px;
}

.cart .cart-list-item .product-image {
  width: 200px;
}

.cart .product-attributes .attribute {
  margin: 0 0 16px 0;
}

.cart .product-attributes .attribute .title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.cart .product-attributes .attribute .option {
  margin: 0 8px 0 0;
  display: flex;
}

.cart .product-attributes .attribute .option:last-child {
  margin: 0 8px 0 0;
}

.cart .product-attributes .attribute .option label.text-label {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  padding: 12px 28px 15px 28px;
  border: 1px solid #1D1F22;
  cursor: default;
}

.cart .product-attributes .attribute .option .color-swatch {
  width: 32px;
  height: 32px;
}

.cart .totals {
  margin: 32px 0 0 0;
}

.cart .total {
  display: flex;
  justify-content: flex-start;
  font-family: 'Raleway';
  margin: 0 0 8px 0;
}

.cart .total .label {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  width: 97px;
}

.cart .total .value {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.cart .action.checkout .btn {
  background: #5ECE7B;
  margin: 16px 0 20px 0;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  width: 279px;
  height: 43px;
}

.cart .image-gallery-left-nav .image-gallery-svg,
.cart .image-gallery-right-nav .image-gallery-svg {
  height: 24px;
  width: 24px;
}

.cart .image-gallery-left-nav,
.cart .image-gallery-right-nav {
  padding: 0 0 0 0;
  top: calc(100% - 20px);
  background: rgba(0, 0, 0, 0.73);
  color: #ffffff;
}
.cart .image-gallery-right-nav {
  left: initial;
  right: 16px;
}
.cart .image-gallery-left-nav {
  left: initial;
  right: 48px;
}
.cart .qty-selector {
  padding: 0 24px 0 24px;
  height: 100%;
}

.qty-selector .btn {
  width: 45px;
  height: 45px;
}

.qty-selector .btn.qty-increase-action {
  background-image: url(./assets/cart-plus-square.png);
}

.qty-selector .btn.qty-down-action {
  background-image: url(./assets/cart-minus-square.png);
}